# For more info on Python, GitHub Actions, and Azure App Service 
# please head to https://aka.ms/python-webapps-actions

name: Build and deploy FastAPI + Vue.js app to Azure App Service
permissions:
  contents: read

on:
  push:
    branches: 
      - main

env:
  WEBAPP_NAME: 'sync-jp'             # Replace with the name of your Azure web app

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Install and build Vue.js project
      working-directory: ./frontend
      run: |
        pnpm install --frozen-lockfile
        pnpm build

    - name: Upload artifact for deployment jobs
      uses: actions/upload-artifact@v5
      with:
        name: python-app
        path: |
          backend
  
  deploy-to-webapp:
    needs: build-and-publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v5
        with:
          name: python-app
          path: .

        # https://docs.microsoft.com/zh-cn/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux
      - name: Log in to Azure CLI
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0 v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to App Service
        id: deploy-to-webapp
        uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6 v3
        with:
          app-name: ${{ env.WEBAPP_NAME}}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
